body {
    margin: 0;
    padding: 0;
}

/* --- HEADER --- */
#headerHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

#headerIcon{
    width: auto;
    height: 100px;
}

#headerMenu{
    margin: 0 0 40px 0;
}


/* --- FOOTER --- */
#footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 40% 0 40%;
}

/* --- HOME --- */
#mainEntities,
#secondaryEntities{
    margin: 0 20%;
}
